<?xml version="1.0"?>

 <launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder 
                                          '$(find autonomous_drone)/plugins/bodyNsensors.urdf.xacro'" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" respawn="false" output="screen" 
         args="-urdf -model myquadrotor -param robot_description" />
    <node pkg="message_to_tf" type="message_to_tf" name="ground_to_tf" output="screen" />
        <param name="odometery_topic" value="ground_truth/state" />
        <param name="frame_id" value="nav" />
 </launch>