<?xml version="1.0"?>

<robot name="myquadrotor"
xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:xacro="http://ros.org/wiki/xacro">
   
<xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- Included gazebo simulation plugins and controller -->  
  <xacro:include filename="$(find autonomous_drone)/plugins/gazebo_sim_plugins.urdf.xacro" />
  <xacro:include filename="$(find autonomous_drone)/plugins/gazebo_sim_controller.urdf.xacro" />

  <!-- Combining Gazebo Plugins as gazebo_quadrotor_plugins -->
  <xacro:macro name="gazebo_quadrotor_plugins">
    <canonicalBody>base_link</canonicalBody>
    <quadrotor_sensors/>
    <quadrotor_controller/>
  </xacro:macro>

  <!-- Main body link -->
  <xacro:macro name="quadrotor_base_body">
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://autonomous_drone/models/quadrotor_4.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://autonomous_drone/models/quadrotor_4.stl"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="base_link">
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo_quadrotor_plugins/>
  </xacro:macro>
    
    <quadrotor_base_body />
    
</robot>